$flag-icon-css-path: '../flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
$currency-country: (
  nzd: 'nz',
  aud: 'au',
  eur: 'eu',
  gbp: 'gb',
  usd: 'us',
  hkd: 'hk',
  cad: 'ca',
  jpy: 'jp',
  afn: 'af',
  all: 'al',
  dzd: 'dz',
  xcd: 'gd',
  ars: 'ar',
  amd: 'am',
  ang: 'aw',
  azn: 'az',
  bsd: 'bs',
  bhd: 'bh',
  bdt: 'bd',
  bbd: 'bb',
  byr: 'by',
  bzd: 'bz',
  xof: 'sn',
  bmd: 'bm',
  inr: 'in',
  bob: 'bo',
  bwp: 'bw',
  nok: 'no',
  brl: 'br',
  bnd: 'bn',
  bgn: 'bg',
  bif: 'bi',
  khr: 'kh',
  xaf: 'cm',
  cve: 'cv',
  kyd: 'ky',
  clp: 'cl',
  cny: 'cn',
  cop: 'co',
  kmf: 'km',
  cdf: 'cd',
  crc: 'cr',
  hrk: 'hr',
  cup: 'cu',
  cyp: 'cy',
  czk: 'cz',
  dkk: 'dk',
  djf: 'dj',
  dop: 'do',
  idr: 'id',
  ecs: 'ec',
  egp: 'eg',
  svc: 'sv',
  etb: 'et',
  eek: 'ee',
  fkp: 'fk',
  fjd: 'fj',
  xpf: 'pf',
  gmd: 'gm',
  gel: 'ge',
  gip: 'gi',
  gtq: 'gt',
  gnf: 'gn',
  gyd: 'gy',
  htg: 'ht',
  hnl: 'hn',
  huf: 'hu',
  isk: 'is',
  irr: 'ir',
  iqd: 'iq',
  ils: 'il',
  jmd: 'jm',
  jod: 'jo',
  kzt: 'kz',
  kes: 'ke',
  krw: 'kr',
  kwd: 'kw',
  kgs: 'kg',
  lvl: 'lv',
  lbp: 'lb',
  lsl: 'ls',
  lrd: 'lr',
  lyd: 'ly',
  chf: 'ch',
  ltl: 'lt',
  mop: 'mo',
  mkd: 'mk',
  mga: 'mg',
  mwk: 'mw',
  myr: 'my',
  mvr: 'mv',
  mtl: 'mt',
  mro: 'mr',
  mur: 'mu',
  mxn: 'mx',
  mdl: 'md',
  mnt: 'mn',
  mad: 'ma',
  mzn: 'mz',
  mmk: 'mm',
  nad: 'na',
  npr: 'np',
  nio: 'ni',
  ngn: 'ng',
  omr: 'om',
  pkr: 'pk',
  pab: 'pa',
  pgk: 'pg',
  pyg: 'py',
  pen: 'pe',
  php: 'ph',
  pln: 'pl',
  qar: 'qa',
  ron: 'ro',
  rub: 'ru',
  rwf: 'rw',
  std: 'st',
  sar: 'sa',
  scr: 'sc',
  sll: 'sl',
  sgd: 'sg',
  skk: 'sk',
  sbd: 'sb',
  sos: 'so',
  zar: 'za',
  lkr: 'lk',
  sdg: 'sd',
  srd: 'sr',
  szl: 'sz',
  sek: 'se',
  syp: 'sy',
  twd: 'tw',
  tjs: 'tj',
  tzs: 'tz',
  thb: 'th',
  top: 'to',
  ttd: 'tt',
  tnd: 'tn',
  try: 'tr',
  tmt: 'tm',
  ugx: 'ug',
  uah: 'ua',
  aed: 'ae',
  uyu: 'uy',
  uzs: 'uz',
  vuv: 'vu',
  vef: 've',
  vnd: 'vn',
  yer: 'ye',
  zmk: 'zm',
  zwd: 'zw',
  aoa: 'ao',
  aqd: 'aq',
  bam: 'ba',
  ghs: 'gh',
  ggp: 'gg',
  lak: 'la',
  rsd: 'rs'
) !default;
